@charset "ISO-8859-1";
*{
	font-family: : 'Segeo UI', Tahoma, Verdana, sans-serif;
	
}
body{
	background-color: rgb(235,235,216);
}
.container{
	margin: 80px 50px 50px 50px;
}

/*Estilos para o Rodapé*/
/*
footer{
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	padding: 5px;
	text-align: center;
	font-size: 10px;
	color:white;
	background-color: #828282;
	
}*/
.intro{
	background: url(../imagens/inicio.jpg) center center fixed;
	background-size: cover;
	padding: 220px 0;
	margin-top: 40px;
	left: 0;
	right: 0;
	
}
.footer{
	background: url(../imagens/rodape.jpg) center center fixed;
	background-size: cover;
	color: white;
	padding: 30px;
	text-align: center;
}