.carousel-inner > .item > img{
	position: relative;
	min-width: 100%;
	min-height: 100%;
}
.body-content{
	clear: both;
	padding: 15px;
}

/*NOSSAS CLASSES*/
.center-image{
	text-align: center;
}
.marrgin-image{
	margin:10px;
}
.footer{
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 20px;
	background-color: #7F7F7F;
	color: white;
}